@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Pacifico&family=Roboto&family=Rubik&display=swap");
:root {
  --card-color: rgb(255, 255, 255);
  --card-title: "Kanit", sans-serif;
}